$background-color: #222222;
$color-white: #fff;
$color-black: #000;
$color-grey: grey;
$color-grey-light: #333333;
$color-write: #898989;
$primary-color: orangered;
.blog-overview {
  display: flex;

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__details {
    margin: 0 10px 0 40px;

    &-header {
      font-size: 24px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 15px;
    }
    &-detail {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: $color-write;
      margin-bottom: 15px;
    }
    &-date {
      i {
        font-size: 16px;
        margin-right: 5px;
        color: $primary-color;
      }
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px;
    }
    &-tag {
      i {
        font-size: 16px;
        margin-right: 5px;
        color: $primary-color;
      }
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}
