$background-color: #222222;
$color-white: #fff;
$color-black: #000;
$color-write: #898989;
$color-grey: grey;
$color-grey-light: #333333;
$primary-color: orangered;
$search-color: #eee;
.blogs {
  padding: 3rem 5%;
  & .sidebar {
    margin-top: 80px;
    @media only screen and (max-width: 990px) {
      margin-top: 20px;
    }
    .search-box {
      @media only screen and (max-width: 990px) {
        display: none;
      }
      border: none;
      background-color: $search-color;
      outline: none;
      width: 220px;
      padding: 8px;
      line-height: 25px;
      margin-bottom: 40px;
    }
    & .tags {
      margin-top: 20px;
      h1 {
        margin-bottom: 30px;
      }
      p {
        margin-top: 10px;
        color: $primary-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-transform: capitalize;
      }
    }
    & .latest {
      margin-top: 40px;
      h1 {
        margin-bottom: 20px;
      }
      p {
        color: $primary-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-transform: capitalize;
      }
    }
  }
}
